html{
    box-sizing: border-box;
}
h1#Odin{
    font-size: 26px;
    text-align: center;
    background-color: #f0f8ff;
    color: burlywood;
    font-family: cursive;
    padding: 20px;
    margin: 30px;
    border: 3px solid navy;
    display: block;
}

h1{
    text-align: center;
    border: 2px solid orange ;
    padding: 5px;
    margin: 20px 20px 20px 0px;
}


.unordered #pav-bhaji,.unordered #pasta ,.unordered #pbj{
    font-size: 22px;
    font-family: Garamond, Georgia, sans-serif;
    border: 2px solid blueviolet;
    margin: 10px;
    padding: 20px;
    width: 460px;
    height: 30px;
}

#pav-bhaji{
    color: hsl(30,80,30);
}

#pasta{
    color: sandybrown;
}

#pbj{
    color: darkred;
}

.description,.ingredients,.steps{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: saddlebrown;
    color: silver;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    height: 30px;
}
.list{
    border: 2px solid purple;
    margin: 20px;
}
.list li{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    margin: 2px;
    padding: 5px;
}

p{
    font-size: 20px;
    font-family: 'Brush Script MT',sans-serif;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}

img{
    height: auto;
    width: 200px;
    border: 2px solid gold;
}